# --- Web server & API ---
# Web server & API
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
httpx>=0.27.0
requests>=2.31.0

# Data & DB
SQLAlchemy>=2.0.29
# If you switch to Postgres, add one of:
# psycopg[binary]>=3.1
# psycopg2-binary>=2.9

# Pydantic (FastAPI v2)
pydantic>=2.6.0

# File parsing (PDF/DOCX)
pypdf>=4.2.0
python-docx>=1.1.0

# LLM / LangGraph
langgraph>=0.2.27
langchain-core>=0.2.38
langchain-openai>=0.1.7
langchain-groq>=0.1.5
langchain-anthropic>=0.1.0
openai>=1.30.0
langsmith>=0.1.35
langgraph-cli[inmem]>=0.1.46
langserve>=0.3.1
sse-starlette>=1.6.5

# Env
python-dotenv>=1.0.1

# E2B sandbox

e2b-code-interpreter
websockets